# Python
*.py[cod]
*$py.class
__pycache__/
*.pyo
*.pyd
*.env
*.egg-info/
*.egg

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Django
*.log
*.pot
db.sqlite3
media/
staticfiles/

# Migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Backup files
*.bak

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# PyCharm
.idea/
*.iws
out/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
.history

# Build / packaging
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
.installed.cfg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Misc
.python-version
celerybeat-schedule.*
*.sage.py
/site
sftp-config.json


# Docker
*.pid
*.sock
*.log
*.data
db_data/

# OS
.DS_Store
Thumbs.db